<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todo/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
    <title>Document</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center mt-4 mb-2">Update Your Data Here👇😀🙂</h2><br>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="col-sm-5">
                        <form action="{% url 'update' id.id %}" method="POST" class="form-inline">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" class="btn btn-success" value="Save">
                            <a href="{% url 'home' %}"><input type="button" class="btn btn-danger" value="Cancel"></a>
                        </form><br><br>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</body>

</html>